
.expertise-section {
  background-color: #ffffff;
  padding: 8rem 8rem 0rem 8rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.expertise-subtitle {
  font-size: 1rem;
  color: #2b0303;
  margin-bottom: 0.5rem;
}

.expertise-separator {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 3rem;
}

.expertise-content {
  display: flex;
  gap: 5rem;
  align-items: flex-start;
}

.expertise-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.expertise-image-wrapper {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.expertise-image-wrapper.round {
  display: flex;
  width: 150px;         
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  /* border: 3px solid #d7ff88; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.expertise-image {
  width: 100%;
  border-radius: 20px;
  transition: opacity 0.4s ease, transform 0.6s ease;
  object-fit: cover;
}


.about-name, .about-title{
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #1c1c1c;
}

.about-location, .about-subtitle  {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
}

.expertise-description {
  line-height: 1.6;
  font-size: 1.2rem;
  color: #333;
  margin:0;
}


.expertise-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}


.expertise-item h2{
  font-weight: 400;
  font-size: 5rem;
  color: #212121;
  cursor: pointer;
  border-bottom: 1px solid #8162f4;
  transition: color 0.3s ease, transform 0.2s ease;
  margin: 0;
}
.expertise-item h2:hover {
  color: #d7ff88;
  transform: translateX(10px);
}

.expertise-item.active {
  color: #111;
}


