

.footer {
  background-color: #0e0620;
  color: #f3f3f3;
  padding-top: 4rem ;
  padding-right: 4rem ;
  padding-left: 4rem ;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}


.social-icons {
  display: flex;
  justify-content: left;
  gap: 1.5rem;
  margin-top: 2rem;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: white;
  color: black;
  transform: scale(1.1);
}


.footer hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 90%;
  margin: 2rem auto;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin-left: 5rem;
}

.footer-column {
  flex: 1;
  min-width: 180px;
}

.footer-column h4 {
  color: #d7ff88;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.footer-column p {
  margin: 0;
  line-height: 1.2; 
}


.lien:hover {
  color: #ccbee6;
}

.lien {
  position: relative;
  display: inline-block;
  color: #f3f3f3;
  text-decoration: none;
  font-weight: 400;
  font-size : 1.5rem;
  transition: color 0.5s ease;
  padding-bottom: 3px;
}

.lien::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #d7ff88; 
  transition: width 0.8s ease;
}

.footer-column a:hover::after {
  width: 100%;
}

.rights {
  padding-top: 1.5rem;
  text-align: left;
  color: #888;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .footer-clocks {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom {
    text-align: center;
  }
}
