.typewriter-container {
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .typewriter-text {
    font-size: 3rem;
    font-weight: 800;
    color: black;
    margin-bottom: 2rem;
  }
  
  .typewriter-word {
    display: inline-block;
    margin-right: 0.5rem;
  }
  
  .typewriter-char {
    color: black;
  }
  
  .typewriter-cursor {
    display: inline-block;
    width: 3.2px;
    height: 2.5rem;
    background-color: #3b82f6; /* blue-500 */
    vertical-align: middle;
    margin-left: 0.25rem;
    animation: blink 0.8s infinite alternate;
  }
  
  @keyframes blink {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  