.para2{
  display: flex;
  font-size: 35px;
  line-height: 1;
  padding: 0px;
  flex-wrap: wrap;
}

.para2 .word2{
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
}

.para2 .word2 .shadow2{
  position: absolute;
  opacity: 0.2; /* 20% */
}


@media (max-width: 680px){
.para2{
  font-size: 23px;
  width: 100%;
}

}