.paragraph{
  display: flex;
  font-size: 46px;
  line-height: 1;
  padding: 20px;
  flex-wrap: wrap;
}

.paragraph .word{
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
}

.paragraph .word .shadow{
  position: absolute;
  opacity: 0.2; /* 20% */
}


@media (max-width: 768px) {

.paragraph{
  font-size: 25px;
  padding: 0;
}

.paragraph .word{
margin-right: 5px;
}

}