
.whoami-section {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin:0;
}

.container {
  background-color: #0e0620;
  justify-items: center;
}

.nb-title{
  color: #c5ef71;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 1000;
  margin: 0;
  margin-left: 2rem;
}


.main-title {
  color: #0e0620;
  font-size: 7rem;
  line-height: 1.1em;
  letter-spacing: -5px;
  font-weight: 500;
  margin: 0;
  margin-left: 4rem;
}

.sticky-frame {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.sticky-card1 {
  position: sticky;
  top: 12vh;
  display: flex;
  padding: 48px;
  overflow: hidden;
  height: 80vh;
  margin-bottom: 5vh;
  background-color: #ffffff;
  /* border-top: solid 3px #0e0620;
  border-bottom: solid 3px #0e0620; */
   border-radius: 30px;
  transform: translateY(30px) width(85%) ease;
}

.sticky-card2 {
  position: sticky;
  top: 12vh;
  display: flex;
  padding: 48px;
  overflow: hidden;
  height: 80vh;
  margin-bottom: 5vh;
  background-color: #ffffff;
  /* border-top: solid 3px #0e0620;
  border-bottom: solid 3px #0e0620; */
  box-shadow: 0px -10px 20px rgba(200, 200, 200, 0.3);
  border-radius: 30px;
  transform: translateY(30px) width(85%) ease;
}


.sticky-card3 {
  position: sticky;
  top: 12vh;
  display: flex;
  padding: 48px;
  overflow: hidden;
  height: 80vh;
  background-color: #ffffff;
  /* border-top: solid 3px #0e0620;
  border-bottom: solid 3px #0e0620; */
  box-shadow: 0px -10px 20px rgba(200, 200, 200, 0.3);
  border-radius: 30px;
  transform: translateY(30px) width(85%) ease;
  margin-bottom: 5rem;
}

.sticky-card1.inview, .sticky-card2.inview, .sticky-card3.inview {
  transform: translateY(0);
  width: 100%;
}

.card-text1, .card-text2, .card-text3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
}

.left-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-column {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  color: #0e0620;
}

.texte {
  padding: 3rem 0 2rem 0;
  margin-top: 2rem;
  font-size: 22px;
  color: #0e0620;
  font-weight: 400;
  margin-left: 2rem;
  width: 82%;
}

.shape-separator {
  height: 3px;
  background: #c5ef71;
  width: 80%;
  margin-left: 2rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 80%;
  margin-left: 2rem;
  margin-top: 2rem;
}

.skills-column {
  color: #0e0620;
  font-weight: 500;
  font-size: 18px;
}

.skill {
  font-family: 'Poppins', sans-serif;
  margin: 0.3rem 0;
}

.img-who-am-I{
  width: 75%;
  margin-top: 3rem;
}

.fusee {
  width: 45%;
  height: 80%;
  z-index: 2;
}
/* Version 3 */

/* .whoami-section {
  background-color: #1a0b44;
  color: #f2f2f2;
  padding: 8rem 2rem;
  display: flex;
  justify-content: center;
  height: 54vh;
}

.container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 8rem;
  align-items: start;
}


.section-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.intro{
  position: sticky;
  top: 20vh;
  align-self: start;
}
.intro-text {
  color: #c8c8c8;
  line-height: 1.7;
  font-size: 1rem;
}

.points-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem 3rem;
  align-items: start;
}

.item {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.item.visible {
  opacity: 1;
  transform: translateY(0);
}

.number {
  display: block;
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-top: 15px;
}

.item h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.item p {
  color: #bcbcbc;
  line-height: 1.6;
  font-size: 0.95rem;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }

  .points-grid {
    grid-template-columns: 1fr;
  }

  .intro {
    max-width: 100%;
  }
} */