.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  position: fixed; 
  z-index: 1000;
  width: 100%;
  color: white;
}


.barretransparente {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(46, 46, 46, 0.7);
  width: 40%;
  transition: width 0.3s ease;

}

.barretransparente:hover {
  width: 45%; 
}


.navbar li:hover {
   color: #ccbee6;
   cursor: pointer; 
}

.projects-link{
  color: #000000;
  text-decoration: none;
}


.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a:hover {
  color: #ccbee6;
  cursor: pointer;

}


.contact-button {
  background-color: #d7ff88;
  color: black;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background-color: rgba(215, 255, 136, 0.5);;
  cursor: pointer;
}

.nav-item {
  position: relative;
}

/* .dropdown-trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
} */

/* .arrow {
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease;
}

.nav-item:hover .arrow {
  transform: rotate(180deg);
} */

/* .dropdown-panel {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 2rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 1000;
  min-width: 500px;
  pointer-events: none;
} */

/* .nav-item:hover .dropdown-panel {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  transition: background 0.1s ease;
}

.dropdown-item.clickable {
  cursor: pointer;
}

.dropdown-item.clickable:hover {
  background-color: #e9ffbd;
}

.dropdown-item p {
  margin: 0;
  font-size: 0.875rem;
  color: #666;
} */

.icon {
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border-radius: 8px;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0.9) translateY(0);
  }
}