.navbar {
    background-color: transparent;
    padding: 1rem;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    color: #5006e1;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #ccbee6;
  }
  