.timeline-wrapper {
  padding: 4rem 0;
  font-family: "Poppins", sans-serif;
  background: transparent;
}

.timeline-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

/* === Ligne centrale === */
.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  z-index: 0;
}

.timeline-line-progress {
  width: 100%;
  background:  #5633ff ;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

/* === Items === */
.timeline-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 12rem 0;
  position: relative;
  z-index: 2;
  height: 30rem;
}

/* === Bloc texte et image === */
.timeline-content {
  width: 45%;
  padding: 2rem;
  color: white;
}

.timeline-image {
  width: 46%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.timeline-image img {
  width: 90%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.6s ease, opacity 0.6s ease;
  margin-left: 3rem;
}

.timeline-image img:hover {
  transform: scale(1.03);
  opacity: 0.95;
}

.timeline-item.left .timeline-content {
  text-align: right; 
}

.timeline-item.right .timeline-content {
  text-align: left; 
}

/* === Alternance === */
.timeline-item.left .timeline-content {
  order: 1;
}
.timeline-item.left .timeline-image {
  order: 2;
}
.timeline-item.right .timeline-image {
  order: 1;
}
.timeline-item.right .timeline-content {
  order: 2;
}

/* === Style des titres === */
.timeline-year {
  font-size: 2.5rem;
  font-weight: 800;
  color: #d7ff88;
  margin-bottom: 1rem;
}

/* === Responsive === */
@media (max-width: 900px) {
  .timeline-item {
    flex-direction: column;
    text-align: left !important;
    margin: 6rem 0;
  }

  .timeline-content,
  .timeline-image {
    width: 100%;
    padding: 1rem 0;
  }

  .timeline-line {
    left: 20px;
    transform: none;
  }
}
