@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  font-family:  Arial;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Urbanist', sans-serif;
}

p {
  font-family: 'Urbanist', sans-serif;
}

input, textarea, button{
  font-family: 'Urbanist', sans-serif;
}

h1, h2, H3{
  font-family: light 'Lexend', sans-serif;
}