.home-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spline-background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.spline-background iframe {
  width: 100vw;
  height: 90vh;
}

.home-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 2rem;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 900;
  color: black;
  margin: 0;
}

.home-content p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: black;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
