.home-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spline-background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.spline-background iframe {
  width: 135vw;
  height: 100vh;
}

.home-content {
  position: relative;
  z-index: 2;
  text-align: left;
  padding: 1rem;
  width: 100%;
  margin-left: 20px;
  margin-top: 13%;
}

.home-content h1 {
  font-size: 9rem;
  font-weight: 750;
  color: black;
  margin: 0px;
}

.home-content p {
  font-size: 1.6rem;
  font-weight: 300;
  color: black;
  max-width: 600px;
  margin: 0;
}

.hero-tags {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.tag {
  display: flex;
}

.tag-role{
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: #e6e9ed;
  height: 30px;
  align-items: center;
  margin-right: 20px;
}

.tag-role span {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.tag-role strong {
  color: #5633ff;
}

.tag-linkedin img {
  width: 50px;
  height: 50px;
  /* animation: float 2s ease-in-out infinite; */
}

.tag-github img {
  width: 50px;
  height: 50px;
  /* animation: float 2s ease-in-out infinite; */
}

/* @keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
 */
