

.intro-section {
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spline-background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.spline-background iframe {
  width: 150vw;
  height: 100vh;
}

.home-content {
  position: relative;
  z-index: 2;
  text-align: left;
  padding: 1rem;
  width: 100%;
  margin-left: 20px;
  margin-top: 35%;
}

.home-content h1 {
  font-size: 13rem;
  font-weight: 750;
  color: black;
  margin: 0px;
  padding: 0;
}

.home-content p {
  font-size: 1.6rem;
  font-weight: 300;
  color: black;
  max-width: 620px;
  margin: 0;
}

.hero-tags {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.tag {
  display: flex;
}

.tag-role{
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: #d7ff88;
  height: 30px;
  align-items: center;
  margin-right: 20px;
}

.tag-role span {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.tag-role strong {
  color: #5633ff;
}

.tag-linkedin img,
.tag-github img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.tag-linkedin img:hover,
.tag-github img:hover {
  transform: scale(1.13);
}

.scroll-section {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 8rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.scroll-text {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  color: #111;
  max-width: 90%;
  margin: 2rem;
}

.subtitle {
  font-size: 1rem;
  color: #111;
}