.custom-section {
  background-color: #1a0b44;
  padding: 128px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.intro {
  max-width: 600px;
  margin-bottom: 120px;
}

.main-title {
  color: #c5ef71;
  font-size: 96px;
  line-height: 1.1em;
  letter-spacing: -5px;
  font-weight: 500;
  margin: 0;

}

.sticky-frame {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
}

.sticky-card1, .sticky-card3 {
  position: sticky;
  top: 20vh;
  display: flex;
  justify-content: space-between;
  background-color: #CDC6FB;
  border-radius: 28px;
  padding: 48px;
  height: 55vh;
  transition: transform 0.6s ease, background 0.6s ease, width 0.6s ease;
  overflow: hidden;
  width: 99%;
  margin-bottom: 7vh;
}

.sticky-card1.in-view, .sticky-card3.in-view {
  background-color: #f2efff;
  width: 70%;
}

.sticky-card2 {
  position: sticky;
  top: 20vh;
  display: flex;
  justify-content: space-between;
  background-color: #d7ff88;
  border-radius: 28px;
  padding: 48px;
  height: 55vh;
  transition: transform 0.6s ease, background 0.6s ease, width 0.6s ease;
  overflow: hidden;
  width: 99%;
  margin-bottom: 7vh;
}

.sticky-card2.in-view{
  background-color: #efffcf;
  width: 70%;
}

.card-text {
  max-width: 400px;
}

.card-text3 {
  width: 100%;
  display: flex;
  flex-direction: column;

}

h3  {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  color: #2B2B2B;
}

.texte1 {
  font-size: 22px;
  color: #2B2B2B;
  font-weight: 400;
}

.texte2 {
  font-size: 22px;
  color: #2B2B2B;
  font-weight: 400;
  margin-bottom: 30px;
}

.texte3 {
  font-size: 22px;
  color: #2B2B2B;
  font-weight: 400;
  margin-top: 8%;
  align-self: left; /* centre le paragraphe */
  text-align: left;
  max-width: 750px;
}

.card-img {
  max-width: 350px;
  width: 80%;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}


.fusee{

  width: 45%;
  height: 80%;
  index-z: 2;
}