.whoami-stage {
    background-color: #5633ff;
    min-height: 120vh;
    padding-top: 10vh;
    overflow-x: hidden;
    position: relative;
  }
  
  .whoami-header {
    position: sticky;
    top: 0;
    background-color: #5633ff;
    z-index: 10;
    padding: 3rem;
    width: 100%;
  }
  
  .whotext {
    color: white;
    font-size: 6rem;
    margin: 0;
  }
  
  .whoami-stack {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  
  .whoami-frame {
    position: absolute;
    background: white;
    border-radius: 24px;
    padding: 3rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 55vh;
    opacity: 0;
  }
  

  .frame1 {
    z-index: 1;
    opacity: 1;
  }
  